* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: ghostwhite;
}

header {
  height: 70px;
  width: 100%;
  background: hotpink;
  color: #fff;
}

header p {
  font-size: 22px;
  text-align: center;
  padding: 20px 0;
}

#root {
  width: 1000px;
  margin: 20px 200px;
}

#root h1 {
  text-align: center;
  padding: 10px 0;
}

#root p {
  padding: 10px;
}
